theortical questions

Q1. What are data structures, and why are they important?

Ans. data structure is the data in organised way it is important because data in organised maner can be accesed easily means it is workable we can manipulate data

Q2.  Explain the difference between mutable and immutable data types with examples?

Ans. mutable data can be accessed and we can manipulate it like we can change its variables where as we cant do in the immmutable data

example:list is mutable data structure and tuples is immutable data struture


Q3. What are the main differences between lists and tuples in Python?

Ans. list is mutable in python and tuples are immutable

Lists use square brackets [ ], tuples use parentheses ( )

Q4. Describe how dictionaries store data.

Ans. dictionaries store date as key and value each key nust be be unique
like {"a": 94}

Q5. Why might you use a set instead of a list in Python?

Ans. set removes duplicate values and is very effective where uniqueness is important

Q6. What is a string in Python, and how is it different from a list?

Ans. A string is an immutable sequence of characters, while a list is a mutable sequence that can contain items of any type

Q7. How do tuples ensure data integrity in Python?

Ans. tuples ensure data intergrity due to its immutable nature their contents cannot be changed after creation

Q8. What is a hash table, and how does it relate to dictionaries in Python

Ans. A hash table is a data structure that stores data using a hash function to map keys to values for fast access. Python dictionaries are implemented using hash tables.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists can contain elements of different data types like as integers strings, and even other lists.

Q10. Explain why strings are immutable in Python.

Ans. Strings are immutable to ensure data safety efficient memory usage and safe sharing

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. dictionaries work on key and value so its its fast for lookups with indentifer unique keys

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans. tuples are preferable where we need data not to be maniupalted easily should be secure e.g. storing adhaar card data

Q13. How do sets handle duplicate values in Python?

Ans. Sets automatically remove duplicate values, so each element appears only onc

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. "in" when used in a list, it looks for the value whether it is present or not whereas in dictionaries "in" as checks if a key exists in the dictionary.

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we can't modify elements of tuple because it is an immutable data structure it is designed to be like this

Q16. What is a nested dictionary, and give an example of its use case.

Ans. A nested dictionary is a dictionary where values can also be dictionaries.
Example use case: Storing student records, where each student ID maps to another dictionary of their details.

Q17. Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary is typically O(1) (constant time) because dictionaries use hash tables.

Q18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred when you need an ordered collection of items and don’t need to associate values with unique keys.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. dictionaries did not maintain order so items could be returned in any sequence. This means you cannot rely on the order of items when retrieving data.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve items by their position (index)  while dictionaries retrieve items by their unique keys. This makes dictionaries faster for key-based search, while lists are better for ordered data.

In [1]:
#practical questions...

In [2]:
#1. Create a string with your name and print it

name = "mandeep singh"
print(name)

mandeep singh

In [3]:
#2. Find the length of the string "Hello World"
print("hello world")

hello world

In [5]:
len("hello world")

11

In [7]:
#3. Slice the first 3 characters from the string "Python Programming"
string1 = "python programming"
string1[0:3]

'pyt'

In [8]:
#4. Convert the string "hello" to uppercase
a = "hello"
a.upper()

'HELLO'

In [17]:
#5. Replace the word "apple" with "orange" in the string "I like apple"
sentence1 = " i like apple"

In [18]:
sentence1

' i like apple'

In [21]:
print(sentence1.replace("apple", " banana"))

 i like  banana

In [22]:
sentence1

' i like apple'

In [23]:
#6. Create a list with numbers 1 to 5 and print it
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [25]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list2 = [1, 2, 3, 4]
print(list2)

[1, 2, 3, 4]

In [26]:
list1.append(10)

In [27]:
list1

[1, 2, 3, 4, 5, 10]

In [28]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
num1 = [1, 2, 3, 4, 5, ]
print(num1)

[1, 2, 3, 4, 5]

In [29]:
num1.remove(3)

In [30]:
num1

[1, 2, 4, 5]

In [33]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
x = ['a', 'b', 'c', 'd',]
x[1]

'b'

In [37]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [40]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [41]:
type(tuple1)

tuple

In [42]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple2 = ('red', 'green', 'blue', "yellow")

In [43]:
tuple2

('red', 'green', 'blue', 'yellow')

In [46]:
tuple2[-2]

'blue'

In [47]:
#13 Find the minimum number in the tuple (10, 20, 5, 15)
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [57]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [49]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'guava', 'kiwi', 'cheery', 'litchi')

In [58]:
if 'kiwi' in fruits:
  print("yes")
else:
  print("fruit not found")

yes

In [59]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'b', 'c'}

In [60]:
type(letters)

set

In [61]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [64]:
set1.clear()

In [65]:
set1

set()

In [66]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
ste2 = {1, 2, 3, 4}
ste2.remove(4)
print(ste2)

{1, 2, 3}

In [68]:
from ctypes import Union
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [69]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [70]:
#or
print(set1 & set2)

{2, 3}

In [73]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1 = {"name": "mandeep", "age": 25, "city": "jammu"}
print(dict_1)

{'name': 'mandeep', 'age': 25, 'city': 'jammu'}

In [76]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict1 = {'name': 'John', 'age': 25}
dict1['country'] = 'usa'

In [78]:
print(dict1)

{'name': 'John', 'age': 25, 'country': 'usa'}

In [80]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict2 = {'name': 'Alice', 'age': 30}
print(dict2)

{'name': 'Alice', 'age': 30}

In [86]:
dict2['name']

'Alice'

In [87]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict0 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict0)

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [92]:
del dict0['age']

In [93]:
print(dict0)

{'name': 'Bob', 'city': 'New York'}

In [98]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris

dictionary3 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dictionary3)

True

In [99]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [102]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[13, 30, 56, 59, 99]

In [107]:
#28. Write a code to create a list with strings and print the element at the third index.
names = ["raju", "ram", "sham", "fap"]
print(names[3])

fap

In [108]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [109]:
#30. Write a code to convert a list of strings into a set.
words = ['apple', 'banana', 'cherry', 'apple']
unique_words = set(words)
print(unique_words)

{'banana', 'cherry', 'apple'}